:root {
  --primary: #b60914;
  --secondary: #8c38ff;
  --dark: #131a26;
  --light: #eee;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
}

body {
  background-color: var(--light);
}

.App {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  padding: 15px;
}

.calculator {
  width: 300px;
  height: 90vh;
  background-color: #fff;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0px 2px 64px rgba(0, 0, 0, 0.2);
}

.solution,
.display {
  padding: 16px;
  text-align: right;
  background-color: var(--dark);
  color: var(--light);
  font-size: 25px;
  font-weight: 300;
}

.solution {
  height: 8vh;
  font-size: 14px;
  color: #888;
}

.display {
  height: 12vh;
  overflow-y: scroll;
}

.display::-webkit-scrollbar {
  display: none;
}

.display {
  -ms-overflow-style: none;
  scrollbar-width: none;
  word-break: break-all;
}

.keyboard {
  display: grid;
  grid-template-columns: auto auto auto auto;
  height: 70vh;
}

button {
  background-color: var(--dark);
  appearance: none;
  border: none;
  outline: none;
  color: #fff;
  font-size: 20px;
  padding: 16px;
  cursor: pointer;
  transition: 0.4s;
}

button:hover {
  opacity: 0.9;
}
